/** calculator **/
body {
  text-align: center;
  background-color: #ffa700;
}

#container {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0px auto;
  width: 300px;
  height: 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  width: 75px;
  height: 75px;
  font-family: monospace;
  font-size: 20px;
  background-color: grey;
  border: 1px solid grey;
}

button:hover {
  color: yellow;
  font-size: 35px;
}

p {
  display: inline-block;
  text-align: left;
  margin: 0px;
  width: 300px;
  font-size: 28;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: monospace;
  font-size: 40px;
  background-color: white;
}

#clr #bkS {
  background-color: grey;
  font-family: cursive;
}

#clr:hover {
  color: rgb(255, 17, 0);
}

#bkS:hover {
  color: rgb(255, 94, 0);
  font-size: 26px;
}

.sign {
  background-color: #95a2b9;
  color: yellow;
  border: 1px solid #95a2b9;
}

.sign:hover {
  color: red;
}

#eqls {
  background-color: 
}

#dot {
  color: red;
}

#dot:hover {
  color: yellow;
}

#message {
  margin: 50px;
  font-family: monospace;
  font-size: 20px;
  color: white;
}
